.track__form {
  position: relative;
}

.track1 {
  position: relative;
  top: -193px;
  inset-inline-start: -30px;
}

.white__cloud {
  position: relative;
  top: -215px;
  inset-inline-start: -188px;
}

.blue__cloud {
  position: relative;
  top: -306px;
  inset-inline-start: -338px;
}

.track__gif {
  position: relative;
  top: -278px;
  inset-inline-start: -30px;
}
@media (max-width: 75em) {
  .track__gif {
    top: -198px;
    inset-inline-start: -850px;
  }
}
@media only screen and (max-width: 36.9375em) {
  /*591px */
  .track__form > svg:nth-child(1) {
    width: 25rem;
    height: 15rem;
    top: -313px;
    inset-inline-start: 0;
  }

  .track__form > svg:nth-child(2) {
    width: 94px;
    height: 130px;
    position: relative;
    top: -539px;
    inset-inline-start: -186px;
  }

  .track__form > svg:nth-child(3) {
    width: 99px;
    height: 120px;
    top: -354px;
    inset-inline-start: -125px;
  }

  .track__form > svg:nth-child(4) {
    width: 466px;
    height: 90px;
    position: relative;
    top: -499px;
    inset-inline-start: 19px;
    z-index: 10;
  }

  .track--with-line {
    position: relative;
    top: -193px;
    inset-inline-start: -46px;
  }

  .paylogn-blue {
    position: relative;
    top: -296px;
    inset-inline-start: 83px;
  }

  /* .track__gif {
    display: none;
  } */
}
