.services {
  width: 100%;
  padding: 9rem 5rem;
}
.services__heading {
  width: 40%;
}

.services__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.services__left {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}
.services__item {
}
.services__item--icon {
  width: 3rem;
  height: 3rem;
}
.heading--3 {
  font-size: 1.8rem;
  line-height: 24px;
  letter-spacing: 0;
  margin: 1rem 0;
  color: var(--color-gray-dark);
}
.services__item--paragraph {
  color: var(--color-gray-dark);
  font-size: 1.4rem;
  line-height: 20px;
}

.services__right {
  width: 50%;
  height: auto;
}
@media (max-width: 75em) {
  .services__right {
    display: none;
  }
  .services__heading {
    width: 100%;
  }
}
@media (max-width: 36.9375em) {
  .services {
    padding: 3rem;
  }
  .services__left {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
